extends layouts/_layout

block variables
	-title = 'Главная1'

block content
	//begin main
	+b.MAIN.main
		+e.container.container
			+e.content.row
				+b.ASIDE.sidebar.main__content-sidebar.col-md-3
					+b.slider.sidebar__slider.slick
						+e.item
							+e.A.link(href='#')
								+e.link-overlay
								+e.img(src='../img/content/sliderlg/aco_banner5.jpg' width="253" height="300" alt="Постер Assassin's Creed: Origins" )
								+e.top
									+e.rating
										i(data-count-rating='1').fa.rating-star.fa-star.rate
										i(data-count-rating='1').fa.rating-star.fa-star.rate
										i(data-count-rating='1').fa.rating-star.fa-star.rate
										i(data-count-rating='1').fa.rating-star.fa-star.rate
										i(data-count-rating='1').fa.rating-star.fa-star.rate
									+e.SPAN.platform._uplay
								+e.bot
									BUTTON 1213
									
										
											


										

						