//begin header
+b.HEADER.header
    +e.container.container
            +e.NAV.nav.navbar.row.pt-4.pb-4.navbar-light
                +e.A.logo.navbar-brand.col-md-3.d-flex.justify-content-center
                    IMG(src='../img/header/logo/logo-1.png') 
                +e.search.col
                    +e.INPUT( placeholder='Быстрый поиск', aria-label='Search').search-input.w-100.px-3.m-0     
                    +e.BUTTON(type='submit').search-btn.btn.my-2.my-sm-0
                            i.fa.fa-search.main-icon_search
                +b.info.header_info.d-flex.align-items-center.col-md-4
                    +e.A.item._stocks.pl-4(href='#')
                        +e.title Наши акции
                        +e.SPAN.desc до 98% скидки
                    +e.A.item._reviews.pl-4.ml-4(href='#')
                        +e.title Отзывы
                        +e.SPAN.desc 5226 отзывов
+b.main-nav
    +e.container.container
        +b.NAV.main-nav.navbar.navbar-expand-lg
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon 
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto.nav#menu-header-menu-bottom
                    li.nav-item.active.menu-item.menu-item-type-taxonomy.menu-item-object-category.current-category-ancestor.menu-item-2213#menu-item-2213
                        a.nav-link(href='#') 
                            i.fa.fa-th(aria-hidden='true')
                            | Каталог товаров
                            span.sr-only (current)
                    li.nav-item.dropdown.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Steam
                        .dropdown-menu.submenu-items-wrapper(aria-labelledby='navbarDropdown')
                            ul.sub-menu
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Аккаунты Steam
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Ключи и гифты Steam
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Сборник игр Steam
                    li.nav-item.dropdown.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Origin
                        .dropdown-menu.submenu-items-wrapper(aria-labelledby='navbarDropdown')
                            ul.sub-menu
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Аккаунты Origin
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Ключи Origin
                    li.nav-item.dropdown.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children.menu-item-27
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Uplay
                        .dropdown-menu.submenu-items-wrapper(aria-labelledby='navbarDropdown')
                            ul.sub-menu
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Аккаунты Uplay
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Ключи Uplay
                    li.nav-item.dropdown.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Word of Tanks
                        .dropdown-menu.submenu-items-wrapper(aria-labelledby='navbarDropdown')
                            ul.sub-menu
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Wot аккаунты с техникой 
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Wot аккаунты с боями
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Wot аккаунты с топами
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Личные Wot аккаунты 
                    li.nav-item.dropdown.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Battle.net 
                        .dropdown-menu.submenu-items-wrapper(aria-labelledby='navbarDropdown')
                            ul.sub-menu
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Аккаунты Battle.net
                                li.menu-item.menu-item-type-taxonomy.menu-item-object-category
                                    a.dropdown-item(href='#') Ключи Battle.net
                    li.nav-item.menu-item.menu-item-type-taxonomy.menu-item-object-category.current-category-ancestor
                        a.nav-link(href='#') MineCraft
                    li.nav-item.menu-item.menu-item-type-taxonomy.menu-item-object-category.current-category-ancestor
                        a.nav-link(href='#') WarThunder



                            
                  
                        
                        
                    
              
                        
            
                


                        



 

                        
                        

    
        
       

//end header
